@charset "utf-8";

/* font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-main: #ff0000;
  --primary-white: #ffffff;
  --primary-black: #333333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}
